
$nav-link-padding-y:                1rem;
$nav-link-padding-x:                1rem;
$nav-link-font-size:                18;
$nav-link-color:                    black;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

$nav-pills-border-radius:           8px;
$nav-pills-link-active-bg:          black;

@import "../node_modules/bootstrap/scss/bootstrap";

.request-select {
  margin-top: 64px;
  font-family: Roboto Mono, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;

  .nav-item {
    &:not(:first-child) {
      margin-left: 16px;
    }

    .nav-link {
      border: 1px solid white;
    }

    .nav-link:not(.active) {
      border: 1px solid black;
    }

  }
}

.result .request-select {
  margin-top: 24px;
}

.result-label {
  margin-top: 32px;
  margin-bottom: 8px;

  font-family: Roboto Mono, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.code-block {
  background: black;
  color: white;
  border-radius: 8px;
  padding: 32px;
  margin-top: 16px;

  &.output {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .prompt {
    opacity: 0.7;
    margin-right: 12px;
  }

  .continuation {
    margin-left: 32px;
  }

  .reveal {
    display: inline-block;
    margin-top: 32px;
    background: none;
    color: white;
    outline: none;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px #FFFFFF;
    border-radius: 10px;
    padding: 16px;
    font: inherit;
    margin-left: 28px;
    cursor: pointer;
    text-decoration: none;

    &.collapse {
      margin-top: -16px;
    }
  }

  .string {
    color: #B8AAFF;
  }

  .json .string {
    color: #c8efe4; //#FFD890;
  }

  .key {
    font-weight: bolder;
  }

  .headers {
    margin-bottom: 24px;
  }

  .comment {
    opacity: 50%;
    margin-top: 32px;
    display: inline-block;
  }

  box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.5);

  font-family: Roboto Mono, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.title {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */

  &::after{
    content: "";
    display: block;
    margin-top: -16px;
    border-bottom: 8px solid orange;
    z-index: -1;
    position: relative;
  }
}

.add_to_slack {
  margin-top: 64px;
}

.then {
  margin-top: 64px;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

body {
  padding: 64px;
}