doctype html
html
    head
        title thatsme.dev
        link(rel="stylesheet", href="assets/main.css")
        meta(name="slack-app-id", content="A01QLFMBC2Y")
        // link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css",rel="stylesheet",integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6",crossorigin="anonymous")

    body
        if justInstalled
            div.alert.alert-success.alert-dismissible.fade.show(role="alert")
                strong Congrats!#{" "}
                span thatsme.dev has been installed in your workspace. Happy syncing!
                button.btn-close(type="button", data-bs-dismiss="alert", aria-label="Close")

        h1
            span.title thatsme.dev

        div.add_to_slack
            a(href=installURL)
                img(alt="Add to Slack", height="40", width="139", src="https://platform.slack-edge.com/img/add_to_slack.png", srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x")

        div.then
            span ~ THEN ~

        ul.nav.nav-pills.request-select(role="tablist")#request-tabs
            li.nav-item(role="presentation")
                button.nav-link.active(type="button", aria-selected="true", role="tab", data-bs-toggle="tab", data-bs-target="#get")#get-tab Lookup by GitHub id
            li.nav-item(role="presentation")
                button.nav-link(type="button", aria-selected="false", role="tab", data-bs-toggle="tab", data-bs-target="#message")#message-tab Deliver a message by GitHub id

        div.tab-content#tab-content
            div#get.tab-pane.show.active(role="tabpanel")
                div.code-block.input
                    div
                        span.prompt $
                        span curl -i #{process.env.BASE_URL}/api/github/YOUR_GITHUB_ID \
                    div.continuation
                        span -H#{" "}
                        span.string '
                            span.key Authorization:
                            span #{" "}Bearer
                            span
                                if token
                                    span.token #{" "}#{token}
                                else
                                    a(href="/token").reveal Reveal a token
                            span '

                div.result-label Result

                div.result
                    div.tab-content
                        div#get-success.tab-pane.show.active(role="tabpabel")
                            div.code-block.output
                                div
                                    div.headers
                                        span HTTP/1.1 200 OK
                                    div
                                        span {
                                    div.continuation.json
                                        span.string.key "slackId"
                                        span :#{" "}
                                        span.string “YOUR_SLACK_ID”
                                    div
                                        span }
                        div#get-unmapped.tab-pane(role="tabpabel")
                            div.code-block.output
                                div
                                    div.headers
                                        span HTTP/1.1 404 Not Found
                                    div
                                        span {
                                    div.continuation.json
                                        span.string.key "error"
                                        span :#{" "}
                                        span.string “Unmapped GitHub id”
                                    div
                                        span }

                    ul.nav.nav-pills.request-select
                        li.nav-item
                            button.nav-link.active(type="button", aria-selected="true", role="tab", data-bs-toggle="tab", data-bs-target="#get-success")#get-success-tab Success
                        li.nav-item
                            button.nav-link(type="button", aria-selected="false", role="tab", data-bs-toggle="tab", data-bs-target="#get-unmapped")#get-unmapped-tab Unknown association


            div#message.tab-pane(role="tabpanel")
                div.code-block.input
                    div
                        span.prompt $
                        span curl -i #{process.env.BASE_URL}/api/github/YOUR_GITHUB_ID \
                    div.continuation
                        span -X POST \
                    div.continuation
                        span -H#{" "}
                        span.string
                            span ‘
                            span.key Content-Type:#{" "}
                            span application/json’
                        span \
                    div.continuation
                        span -d#{" "}
                        span.string ‘{
                    div.continuation.json.string
                        span.continuation.string.key #{"  "}“message”
                        span :#{" "}
                        span.string “Your build is live!”
                    div.continuation.json.string
                        span.continuation.string.key #{"  "}“searchChannel”
                        span :#{" "}
                        span.string “#engineering”
                    div.continuation
                        span.string }’#{" "}
                        span \
                    div.continuation
                        span -H#{" "}
                        span.string
                            span '
                            span.key Authorization:#{" "}
                            span Bearer#{" "}
                            span
                                if token
                                    span.token #{" "}#{token}
                                else
                                    a(href="/token").reveal.collapse Reveal a token
                            span '
                    div.comment
                        div.continuation
                            span # If thatsme.dev doesn't already know which Slack user is associated with the GitHub
                        div.continuation
                            span # account, we'll prompt the GitHub user to link their account in the search channel.
                        div.continuation
                            span # If we get a match, we'll deliver the message asynchronously

                div.result-label Result

                div.result
                    div.tab-content
                        div#message-success.tab-pane.show.active(role="tabpabel")
                            div.code-block.output
                                div
                                    div.headers
                                        span HTTP/1.1 201 Created
                                    div
                                        span {
                                    div.continuation.json
                                        span.string.key "deliveredAt"
                                        span :#{" "}
                                        span.string "2021-04-13T23:19:03.318Z"
                                    div
                                        span }
                        div#message-unmapped.tab-pane(role="tabpabel")
                            div.code-block.output
                                div
                                    div.headers
                                        span HTTP/1.1 202 Accepted
                                    div
                                        span.json { }
                    ul.nav.nav-pills.request-select
                        li.nav-item
                            button.nav-link.active(type="button", aria-selected="true", role="tab", data-bs-toggle="tab", data-bs-target="#message-success")#message-success-tab Known association
                        li.nav-item
                            button.nav-link(type="button", aria-selected="false", role="tab", data-bs-toggle="tab", data-bs-target="#message-unmapped")#message-unmapped-tab Unknown association

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js",integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf",crossorigin="anonymous")

    if justInstalled
        script(src="https://cdn.jsdelivr.net/gh/mathusummut/confetti.js/confetti.min.js")
        script
            | confetti.start(1500);
    if justInstalled || token
        script
            | window.history.replaceState( {} , '', '/');